<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Pages#contact</h1>
      <p>Find me in app/views/pages/contact.html.erb</p>
      <p> <%= request.env['PATH_INFO'] %> </p>
    </div>
  </div>
</div>
